In [1]:
import pandas as pd
import numpy as np

In [2]:
df_weather = pd.read_csv("data/weather_data_2022.csv")

In [4]:
display(df_weather.head())

,Date,Time,Temperature,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Precip.,Condition
0,2022-01-01,6:15 PM,33°F,28°F,82°%,NNE,21°mph,31°mph,29.17°in,0.0°in,Light Snow / Windy
1,2022-01-01,6:29 PM,32°F,27°F,82°%,NNE,22°mph,31°mph,29.17°in,0.0°in,Light Snow / Windy
2,2022-01-01,6:53 PM,32°F,27°F,82°%,NNE,21°mph,33°mph,29.18°in,0.0°in,Light Snow / Windy
3,2022-01-01,7:00 PM,32°F,28°F,85°%,NNE,22°mph,31°mph,29.18°in,0.0°in,Light Snow / Windy
4,2022-01-01,7:10 PM,32°F,28°F,85°%,NNE,21°mph,29°mph,29.17°in,0.0°in,Light Snow / Windy

In [3]:
df_taxi = pd.read_csv("data/taxidata.csv")

In [8]:
display(df_taxi.head())

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location
0,4404c6835b9e74e9f74d70f235200a8ce09db14a,7e179f8ef66ae99ec2d1ec89224e0b7ee5469fe5627f6d...,2022-12-31T23:45:00.000,2023-01-01T00:15:00.000,2081.0,4.42,NaN,NaN,2.0,3.0,...,0.0,20.50,Prcard,Flash Cab,42.001571,-87.695013,POINT (-87.6950125892 42.001571027),41.965812,-87.655879,POINT (-87.6558787862 41.96581197)
1,466473fd2a196ebe92fb2983cb7e8af32e39aa1f,d1d88b89ceb6d753007b6e795e3c24f4bea905a51e9d47...,2022-12-31T23:45:00.000,2023-01-01T00:00:00.000,812.0,0.00,NaN,NaN,8.0,24.0,...,0.0,16.57,Mobile,Flash Cab,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.901207,-87.676356,POINT (-87.6763559892 41.9012069941)
2,3f5cd3f78e5cab455606a31372a95d3204b2fb3f,847cf962bd6f62040673e6c24c24940aeb2d7fdaa54677...,2022-12-31T23:45:00.000,2023-01-01T00:00:00.000,600.0,0.90,NaN,NaN,8.0,8.0,...,3.0,12.00,Credit Card,Taxi Affiliation Services,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)
3,38292159642750da7b20419330566f9eb0961cde,81092e4881f56106fae845c3ae4492f8b3c3213c33c920...,2022-12-31T23:45:00.000,2023-01-01T00:00:00.000,546.0,0.85,NaN,NaN,8.0,8.0,...,0.0,6.50,Cash,Taxicab Insurance Agency Llc,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)
4,3e01498f8ff771ad7eb37e4844cef20201b6c339,4ae32e2eb244ce143800e0c40055e537cc50e3358a07ce...,2022-12-31T23:45:00.000,2023-01-01T00:00:00.000,574.0,0.33,NaN,NaN,8.0,8.0,...,0.0,6.25,Cash,City Service,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)

In [6]:
display(df_taxi.summary())

AttributeError: 'DataFrame' object has no attribute 'summary'